<div>

    <h1>{{band.name}}</h1>

    <div>
        <div class="row">
            <div class="form-group">
                <label>Link to article:</label>
                <input class="form-control" ng-model="band.originalArticle"/>
            </div>
            <div class="form-group">
                <label>Videos, http://www.youtube.com/embed/:</label>
                <input class="form-control" ng-model="band.firstVideo"/>
                <input class="form-control" ng-model="band.secondVideo"/>
                <input class="form-control" ng-model="band.thirdVideo"/>
                <input class="form-control" ng-model="band.fourthVideo"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                <label>Content:</label>
                <textarea id="contentEditor" ck-editor ng-model="band.bandContent" refresh-data="band.bandContent"
                          class="form-control input-sm" rows="15">
                </textarea>
            </div>
        </div>

    </div>


    <button style="float: right; margin-left: 10px"
            ng-click="saveBand()"
            class="btn btn-success">
        SAVE
    </button>

    <button style="float: right; margin-left: 10px"
            ng-click="canlcelEditing()"
            class="btn btn-danger">
        CANCEL EDIT
    </button>

</div>