<div class="padding21">

    <div>
        <img src="images/string.jpg" class="imageConverter">
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <label for="stringToConvert">Enter your string</label>
            <textarea id="stringToConvert" class="convertTextArea" ng-model="stringToConvert"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <label for="convertedString">Converted string</label>
            <textarea id="convertedString" class="convertTextArea" ng-model="convertedString"></textarea>
        </div>
    </div>

</div>