body{
    margin: 0;
    font-family: Arial, Helmet, Freesans, sans-serif;
    background: linear-gradient(#f4f2f2, #565454);
}

h1{
    color: #0f0e0e;
}

#topbar{
    background-color: #3a3737;
    width: 100%;
    height: 50px;
    color: #c9c3c3;
    position: fixed;
    z-index: 10;
}
#topbar a{
    position: relative;
    left: 45%;
    padding-top: 5px;
    margin-top: 5px;
    font-weight: bold;
    font-size: 2.5em;
    font-family: Impact, Charcoal, sans-serif;
    z-index: 5;
    text-decoration: none;
    color: #c9c3c3;
}
#topbar a:visited{
    color: #c9c3c3;
    text-decoration: none;
}
#emptyBar{
    background-color: black;
    height: 50px;
    width: 100%;
    float: left;
}

.fixedWidth{
    width: 1050px;
    margin: 0 auto;
    position: relative;
    z-index: 5;
    background-color: #f4f2f2;
}

.break{
    clear: both;
}

.center {
    margin: auto;
    width: 1050px;
}

#downBar{
    background-color: #565454;
    width: 100%;
    min-width: 1120px;
    height: 80px;
    color: #c9c3c3;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-weight: bold;
    font-size: 2em;
    margin: 0;
    margin-top: 51px;
    padding: 0;

}
#downBarP{
    padding: 40px 0px 0px 0px;
    margin: 0;
    float: left;
}
#downBar img{
    float: left;
    margin-right: 100px;
}

.content{
    z-index: 5;
}
.content .padding7 div{
    padding: 7px;
}
.content a{
    color: #605a5a;
    text-decoration: none;
    font-size: 2em;
    /*background-image: url("http://217.199.187.200/antilamer.com/images/koza.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position: left center;*/
    /*background-size: 40px;*/
    /*padding-left: 45px;*/
}
.content a:hover{
    color: #3f3d3d;
    /*font-size: 2.2em;*/
}

#firstImg{
    float: right;
    width: 500px;
}

#secondImg{
    float: left;
    width: 500px;
    padding-right: 15px;
}

#bigFour{
    width: 250px;
    float: left;
    position: relative;
    left: 140px;
    background-color: #d3d1d1;
    border-radius: 40px;
}
#bigFour ul{
    list-style: none;
    position: relative;
    left: -7px;
}
#bigFour h1{
    position: relative;
    left: 20px;
}
#bigFour a{
    color: #605a5a;
    text-decoration: none;
    font-size: 2em;
    background-image: url("../images/list.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 40px;
    padding-left: 45px;
}
#bigFour a:hover{
    color: #3f3d3d;
}

.bb{
    border-bottom: 1px solid #f4f2f2;
}

#videoHome1{

    position: relative;
    top:52px;
    float: right;
}
#videoHome2{
    margin-top: 50px;
    float: left;
}

#video1{

    position: relative;
    top:52px;
    float: right;
}
#video2{
    margin-top: 50px;
    float: left;
}

#more{
    float: left;
    position: relative;
    background-color: #d3d1d1;
    border-radius: 40px;
    margin-top: 40px;
}
#more p{
    position: relative;
    left: -25px
}
#more a{
    background-image: none;
}
#more a:hover{
    color: black;
    text-decoration: underline;
    font-size: 2em;
}

#moreW{
    font-size: 2em;
    padding-left: 150px
}

#signature{
    float: right;
    margin: 0;
}

#video1{
    float: left;
    margin: 20px;
    position: relative;
    left: 50px;
}
#video2{
    float: right;
    margin: 20px;
    position: relative;
    right: 50px;
    top: 52px;
}
#video3{
    float: left;
    margin: 20px;
    position: relative;
    left: 50px;
}
#video4{
    float: right;
    margin: 20px;
    position: relative;
    right: 50px;
}

#videos{
}

#image1{
    float: right;
    margin: 10px 0px 5px 20px;
}

/* General sizing */
ul.dropdown-lr {
    width: 300px;
}

/* mobile fix */
@media (max-width: 768px) {
    .dropdown-lr h3 {
        color: #eee;
    }
    .dropdown-lr label {
        color: #eee;
    }
}

.bands{
    margin-left: 20px;
    font-size: 1.9em;
    font-family: Impact, Charcoal, sans-serif;
}
.bands a{
    color: #3f3d3d;
    text-decoration: none;
}
.bands a:visited{
    color: #3f3d3d;
    text-decoration: none;
}
.bands a:hover{
    color: #3f3d3d;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.bandImage{
    float: right;
}
.padding21{
    padding: 21px;
}

.grid{
    height: 380px;
}

.chat{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}
.chatInput{
    width: 50%;
    border: solid 1px #D4D4D1;
    transition: .7s;
    font-size: 1.1em;
    padding: 0.3em;
    margin: 0.2em 0;
}
.chatInput[type=text]:focus {
    -webkit-box-shadow: 0 0 5px 0 #CBC9C9;
    -moz-box-shadow: 0 0 5px 0 #A4A2A2;
    box-shadow: 0 0 5px 0 #898787;
    border-color: #6B6969;
    outline: none;
}
.chatButton{
    background: #898787;
    color: #FFF;
    font-weight: 600;
    padding: .3em 1.9em;
    border: none;
    font-size: 1.2em;
    margin: 0;
    text-shadow: 0 0 5px rgba(0, 0, 0, .3);
    cursor: pointer;
    transition: .7s;
}
.chatButton:focus {
    outline: none;
}

.chatButton:hover {
    background: #222222;
}

.count {
    font-weight: 300;
    font-size: 1.35em;
    color: #CCC;
    transition: .7s;
}

.count.danger {
    color: #a94442;
    font-weight: 600;
}

.message time {
    color: #999;
    float: left;
}

.message {
}

.message .self {
    font-weight: 600;
}

.message span {
    padding-left: 20px;
    border-left: solid 1px #F1F1F1;
    padding-bottom: .5em;
}

.imageConverter{
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.convertTextArea{
    width: 900px !important;
    height: 120px !important;
}

.userMenu li{
    font-size: 2em;
}

.userMenu li a{
    color: #3f3d3d !important;
}

.stingContainer{
    margin-top: 50px;
}

.convertButton{
    position: relative;
    left: 40%;
    margin-top: 15px;
}